* {
    margin: 0px;
    padding: 0px;
}

.dbg {
    border : 1px dotted red;
}

.navbar {
    width: 100%;
    height: 60px;
    margin-top: 0.5em;
    border: 1px solid blue;
}

.navbar > .navbar-left {
    float: left;
    margin-left: 0.5em;
    line-height: 60px;
    border: 2px solid rgb(0, 128, 128);
}

.navbar > .navbar-right {
    float: right;
    margin-right: 0.5em;
    line-height: 60px;
    border: 2px solid rgb(0, 128, 75);
}

.navbar li {
    list-style-type: none;
    float: left;
    margin: 0px 0.5cm;
    
    
}

.navbar-down {
    width: 100%;
    height: 50px;
    float: left;
    background-color: gainsboro;
    
}

li > a {
    text-decoration: none;
    color: black;
}

li > a:visited {
    color: black;
}



.navbar-center {
    float: left;

    width: 600px;
    margin: 0 auto;
    background-color: violet;
}

.search-bar {
    width: 600px;
    background-color: rgb(170, 151, 170);
    border: 1px solid gainsboro;
    height: 40px;
    
}

.search-bar input {
    width: 90%;
    height: 100%;
    background-color: transparent; /*하얗게말고 투명하게 만듬*/
    border: none;
    font-size: 16px;
    
}



.navbar-left-column {
    width: 100px;
    height: 100%;
    background-color: gold;
}