* {
    margin: 0px;
    padding: 0px;
}

.dbg {
    border : 0px dotted red;
}

.navbar { /*해결: flex를 썼더니 올라갔다..^^*/
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 0.5em;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid gainsboro;
}

.navbar > .navbar-left {
    line-height: 60px;
}

.search {
    display: flex;
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.search-bar {
    margin: 0 auto;
    width: 600px;
    height: 40px;
    border: 1px solid rgb(212, 212, 212);
    margin-top: 0.5em;
}

.search-bar i1 {
    font-size : 20px;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.search-bar i1:hover {
    color:rgb(0, 0, 0);
}

.search-bar i2 {
    font-size : 20px;
}

.search-bar button { 
    /*width: 50px;
    height: 10px;*/
    display: flex;
    background-color: rgb(243, 241, 241);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    text-align: center;
    padding: 10px 25px;
    margin: -41px 580px;
    cursor: pointer; 
}

.search i3 {
    float: left; 
    padding: 15px 20px;
    margin: 5px 40px;
    border-radius: 36px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.search-bar input {
    width: 90%;
    height: 100%;
    background-color: transparent; /*하얗게말고 투명하게 만듬*/
    border: none;
    font-size: 16px;
    color: gray;    
}

.navbar > .navbar-right { 
    line-height: 60px;
}

.navbar li {
    list-style-type: none;
    float: left;
    margin: 0px 0.5cm;    
}

.navbar-down { 
    width: 1500px;
    height: 50px;
    float: right;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid gainsboro;
}

.navbar-down > ul { 
    display: flex;
    margin: 10px 10px;
    list-style-type: none;
    justify-content: space-evenly;
}

.navbar-down button { 
    background-color: rgb(243, 241, 241);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 40px;
    font-size: 0.9em;
    text-align: center;
    padding: 5px 10px;
    margin: 0 -13px;
    cursor: pointer; 
}

.navbar-down button:hover {
    background-color: rgb(224, 224, 224);
}

li > a {
    text-decoration: none;
    color: black;
}

li > a:visited {
    color: black;
}

.navbar-left-column > ul {
    width: 200px;
    background-color: grey;
}

.section {
    border-bottom: 1px solid gainsboro;
}

.navbar-left-column > li > a { /*열 네비바가 아예 안먹힘??????????*/
    display: block; /*블록으로 확장해서 네모박스를 클릭해도 이동할 수 있음*/
    padding: 0px 16px;
    color: #000;
    text-decoration: none;

}

li a:hover {
    color: gainsboro;
}

.section_1 > li a {
    color: gainsboro;
    font-size: 13px;
}

.section_2 > li {
    color: gainsboro;
    font-size: 12px;
}

.wrapper {
    width: 1700px;
    height: 1000px;
    position: relative;
    left: 200px;
    top: -725px;
    background-color: rgba(238, 238, 238, 0.836);
}

.video {
    width: 360px;
    height: 200px;
    margin: 20px 0px 16px 50px; /*가운데 정렬 어떻게????????? 위, 오른, 아래, 왼*/
    float: left;
    border: 1px solid black;
}

